@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.cdnfonts.com/css/nd-logos');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0px;
  padding: 0px;
}

/* navbar-brand {
  padding: 18px 0 22px 0;
  margin-right: 0;
} */
 /* video link */
/* https://media.kawasaki.com/ContentStorage/1a71673d-e94c-44db-82a5-540efcd6ea18_hires.mp4 */

/* --------Navbar css------ */

.navbar-list{
  color: #505055;
  
  border-right: 1px solid #dddde4;
  margin-right: 5px;
  padding: 0 10px 0 0;
  white-space: nowrap;
  gap: 3px;

    font-family: Oswald;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    /* color: #000000; */
    line-height: 17px;
    margin: 0;
  
}
/* ------------carousel csss---------- */
/* Keyframe for Zoom In */

.box{
  border: 1px solid #6c3;
    padding: 10px 15px;
    color: #fff;
    background: rgba(0, 0, 0, .75);
    font-family: Oswald;
    display: inline-block;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    line-height: 24px
}
@keyframes zoomIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Apply the zoom-in animation to images and videos */
.carousel-container .splide__slide img,
.carousel-container .splide__slide video {
  animation: zoomIn 0.8s ease forwards;
}


/* ----------OFFER CSS------------ */
.offer{
  /* box-shadow: 0 0 10px 0 rgba(71, 71, 71, .2); */
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background: #fff;
  overflow: hidden;
  border-top-right-radius:50px ;
  border-top-left-radius:5px ;

  


}