@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0px;
  padding: 0px;
}

/* navbar-brand {
  padding: 18px 0 22px 0;
  margin-right: 0;
} */
 /* video link */
/* https://media.kawasaki.com/ContentStorage/1a71673d-e94c-44db-82a5-540efcd6ea18_hires.mp4 */

/* --------Navbar css------ */

.navbar-list{
  color: #505055;
  
  border-right: 1px solid #dddde4;
  margin-right: 5px;
  padding: 0 10px 0 0;
  white-space: nowrap;
  gap: 3px;

    font-family: Oswald;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    /* color: #000000; */
    line-height: 17px;
    margin: 0;
  
}

/* Keyframe for Zoom In */
@keyframes zoomIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Apply the zoom-in animation to images and videos */
.carousel-container .splide__slide img,
.carousel-container .splide__slide video {
  animation: zoomIn 0.8s ease forwards;
}

/* Hover Effect on Image */
.carousel-container .splide__slide img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/* Text Styling on Hover */
.carousel-container .splide__slide .slide-content {
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.carousel-container .splide__slide:hover .slide-content {
  opacity: 1;
  transform: translateY(0);
}

/* Style for the Title, Description, and Price */
.carousel-container .splide__slide .slide-content h3 {
  font-size: 24px;
  margin: 0;
}

.carousel-container .splide__slide .slide-content p {
  font-size: 16px;
}

.carousel-container .splide__slide .slide-content span {
  font-size: 18px;
  font-weight: bold;
}
